.about-section {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-items: center;
  justify-content: space-around;
}
.about-section-top h2 {
  font-size: 30px;
  margin-bottom: 1rem;
}
.about-section-middle p {
  line-height: 25px;
}
.about-section-middle p span {
  display: block;
  margin-bottom: 30px;
  text-align: justify;
  justify-content: justify;
}
.about-section-middle p span a {
  color: #00ffd1;
}
.about-section-middle p span h1 {
  font-weight: normal;
  display: inline-block;
  margin-right: 5px;
  font-size: 16px;
}
.about-section-bottom {
  align-self: center;
  background-color: transparent;
}
.about-section-bottom-column-1 {
  text-align: center;
  margin-bottom: 10px;
  color: #cea302;
  font-size: 18px;
}
.about-section-bottom-column-1 p {
  font-size: 15px;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
}
.about-section-bottom-column-2 ul {
  font-size: 12px;
  margin-left: 1rem;
  column-count: 3;
  list-style: none;
}
.about-section-bottom-column-2 ul option {
  width: 80px;
  height: 25px;
}
